html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

textarea {
	border-color: gray;
	border-width: 0.5vh 0.5vw;
	width: 99vw;
	height: 65vh;
	padding: 0;
}

.button {
	width: 98vw;
	height: 15vh;
	margin: 1vh 1vw;
	text-align: center;
	line-height: 15vh;
	background: cornflowerblue;
}
.button:hover {
	background: royalblue;
}